
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}

.bg-img{
    /* ajouter l'image */
    background-image: url("image_fond.jpg");
    min-height: 380px;
    
    /* Centrer et redimensionner  l'image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Ajouter des styles au conteneur de formulaire */
.container{
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

/* Champs de saisie  */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Définir le style pour le bouton d'envoi */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

p,h3{
    color: dimgray;
    font-size: size 18px;
    
}

.btn:hover {
    opacity: 1;
}

.button-style{
    background-color: green;
    border:none;
    color:white;
    padding:15px 32px;
    text-align: center;
    text-decoration:none;
    display:inline-block;
    font-size: 18px;
    margin:4px 2px;
    cursor:pointer;
    font-weight:bold;
}

a{
    color: green;
    font-size: 18px;
}

span{
    color: dimgray;
    text-decoration: none;
}

.section1{
    background-color:whitesmoke;
    color:dimgray;
    width: 250px;
    height: auto;
    font-size:18px;
    padding:20px;
    margin:10px;
}

.section23{
    background-color:whitesmoke;
    color:green;
    width:250px;
    height:auto;
    font-size:18px;
    padding:20px;
    margin:10px;
}

.main{
    display: flex;
    flex:1;
    width: 70%;
    margin: 20px auto;
}

.content{
    width: 80%;
    padding: 20px;
}

.sectionsleft{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sectionleft{
    background-color: #f0f0f0;
    width: 230px;
    padding: 10px;
    margin: 10px;
}

.containerleftright{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px auto;
}

.left, .right{
    width: 60%;
    padding: 5px;
}

.button-container{
    margin: 20px 0;
    width: 70%;
    margin: 5px auto;
}


/* centre le contenue*/
.containerMedia {
    width: 80%;
    margin: auto;
}

/* espacement egal avec les videos*/
.video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20 px;
}

.video {
    flex: 1;
    margin: 10px;
}

/* balise pour integrer la video youtube avec des attributs*/
iframe {
    width: 100%;
    height: 350px;
}

.button-ceremony {
    background-color: green;
    color: white;
    border: 5px solid black;
    padding: 15px 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 60px;
    border-radius: 10px;
    box-shadow: 0 10px 15px green;
    font-family: 'Times New Roman', Times, serif;  
    cursor: pointer;
}


.container-ceremony {
    width: 70%;
    margin:auto
}

.backbutton {
    background-color: green;
    color: white;
    border: 5px solid black;
    padding: 10px 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 60px;
    border-radius: 10px;
    box-shadow: 0 10px 15px green;
    font-family: 'Times New Roman', Times, serif;  
    cursor: pointer;
}

.container-informations {
    width: 80%;
    margin: 2px auto; /* centre le contenue*/
    padding: 30 px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

caption {
    caption-side: top;
    font-size: 18px;
    margin-bottom: 10px; /* espace entre la légende et le tableau*/
    font-weight: bold;
    text-align: center;
    color: rgb(36, 186, 36);
}

.third-table {
    border: 1px solid;
    border-collapse: collapse;
}

.third-table th:nth-child(even) {
    background-color : rgba(150, 212, 212, 0.4)
}

.third-table tr:nth-child(even), .third-table td:nth-child(even) {
    background-color : rgba(150, 212, 212, 0.4)
}


/* élément avec id */
#myfooter {
    background-color: lightblue;
    color: black;
    padding: 30px;
    text-align: center;
}

#myfooterJS {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase; /* mettre en majuscule */
    letter-spacing: 2px;
}

#myfooterJS:hover { /*Hover c'est pour changer la couleur quand la souris passe dessus DS  */
    color: green;
}

#button-myfooter {
    display: block; /* afficher en tant que bloc sur toute la largeur */
    margin: 20px auto;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    border: 5px solid black; /* bordure */
    padding: 15px 40px; /* espacement intéireur */
    text-align: center; /* alignement du texte */
    font-size: 22px; /* taille de la police */
    font-weight: bold; /* poids de la police */
    font-family: 'Times New Roman'; /* typographie */
}

#button-myfooter:hover {
    background-color: green;
}

#iframe_ENSIBS {
    border: 2px solid #2c3e50;
    border-radius: 5 px;
}

#Iframe_ENSIBS_a {
    color: #14d233;
    text-decoration: none;
    font-weight: bold;
}

#Iframe_ENSIBS_a:hover {
    text-decoration: underline;
}

#button-myfooter-informations {
    background-color: lightblue;
    color: black;
    border: 5px solid black; /* bordure */
    padding: 15px 40px; /* espacement intéireur */
    text-align: center; /* alignement du texte */
    font-size: 18px; /* taille de la police */
    font-weight: bold; /* poids de la police */
    margin: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman'; /* typographie */
}

#button-myfooter-informations:hover {
    background-color: green;
}


/* ---------------------------------------------------------------------------------*/
